.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
    background: black;
    // background: url('../../../research/backgrounds/world-bg-blue-brown.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}