body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

// TODO:  Might want to eventually break these into a class so they don't style all the inputs and buttons
input {
  width: 80%;
  height: 42px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding-left: 12px;
  font-size: 1rem;
  border: none;
}

button {
  width: 80%;
  height: 42px;
  border-radius: 6px;
  color: white;
  background: #521bf5;
  border: 2px solid white;
  font-weight: 900;
  font-size: 1rem;
}

// TODO:  Need to find a better way to style the tabs.  This will style all tabs throughout the page
.react-tabs__tab-list {
  border-bottom: none;
  margin: 0 0 1px 0;
  padding: 0;
}

.centered-column {
  @include centered($flex-direction: column)
}

hr {
  width: 100%;
}