body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

input {
  width: 50%;
  height: 42px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding-left: 12px;
  font-size: 1rem;
  border: none;
}

button {
  width: 50%;
  height: 42px;
  border-radius: 6px;
  color: white;
  background: #521bf5;
  border: 2px solid white;
  font-weight: 900;
  font-size: 1rem;
}