.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}